@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Outfit', 'Exo 2', sans-serif;
}
body{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 65%, rgba(95, 200, 130, 1) 75%, rgba(237, 221, 83, 1) 100%);
}